@model GlobalStore.Models.AplicacionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>
    <tr>
        <td>@Model.NombreApp</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
