@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table cellspacing="10">
    <tr>
        <td id="tipotj_link"><a>Agregar Tipo Tarjeta De Credito</a></td>
    </tr>
</table>

<div class="container">
   
    <div id="tipotj" class="contenido" style="display: none">
        @Html.Partial("_TipoTJCredito")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tipotj_link").click(function () {
            $(".contenido").hide();
            $("#tipotj").fadeIn();
        })
       

    });

</script>